/*-------------------------------------------------------
|     Dans cette feuille de styles CSS,je vais pouvoir définir
     l'apparence que je veux donner aux différents éléments
     que composent ma page !

     ### La Synthaxe ###
     element {
     propriete:valeur;
}
----------------------------------------------------------*/

/* Ajout de google Font */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*--Je cible dans ma page HTML,tous les éléments A,
   tous les éléments H1 et tous les éléments H3--*/
a, h1 , h3 {
    font-family: 'Roboto', sans-serif;
}

/*--------------------------------------------------------------

   Cibler via la "classe" de l'élément
   NB: une même classe peut être prés plus fois
   sur une même page.

   .Laclasse {
       proprite:valeur;

   }
   ------------------------------------------------------------/*

   /* 
     CONSIGNE:
        
       1- tous les liens de la classe "header" en noir
       2- Non souligné
       3- Affiché en ligne via la proprité "display"
   */

   /*-----
     Ici,je cible ts les liens présents ds la div class "header"
   ----*/

.header a {
    /*Plusieurs facon de définir une couleur*/
    
    /*Mot clé de la couleur*/
    color: black;

    /* Notation Hexadécmale*/
    color:#000000;
    color:#000;

    /*--Notation décimale--*/
    color:rgb(000,000,000);

    /*--Gérer le soulignement --*/
    text-decoration: none;

    /*--Modifier la taille de la police--*/
    font-size: 20px;

    /*--Je souhaite que mes liens s'affichent en majuscule--*/
    text-transform: uppercase;
} 
    
/*--
   Ici,je veux cibler ttes les listes présentent ds la DIV class "header"
--*/

.header ul {
    margin: 0;
    padding:0;
}


.header ul li {   
    display:inline-block;
    /*-width :me permet de définir la largeur de l'élément - */
    width: 317px;
    /*-aligner mo, texte ds son élément-*/
    text-align: center;
}

/*--
Je souhaite que mes liens s'affichent en rouge
au passage de la souris
--*/

a:hover {
     color:#ffc647;
}
/*--
   je vais changer la couleur de mon lien à l'interieur de la 
   classe"current'
--*/

.current a {
    color:#ffc648;
}
/* Cibler via son 'ID' un élément
NB: un ID ne p ê présent qu'une seule fois sur une même page.

#MonID {
    propriete:valeur;
}*/

#page {
/*--Je vais définir la largeur de ma page--*/
     width: 960px;

/*--margin: <top:bottom <left/right<--*/
     margin: 20px;


/*--Je rajoute à ma page un fond blanc--*/
     background: #fff;
}

/*--
   je souhaite changer la couleur du fond de ma page--*/

body {
    /* background-color:rgb(48, 45, 45);*/

    background-image: url(../image/paper.jpg);
}
     

/*-----------------
consigne:
    1- A ma div page ,ajouter une marge top/bottom de 80px;
    2-Ajouter avec la propriété border-radius un arrondi de 5 px 
    a div#page
    3-Puis,grace a box-shadow,ajouter une ombre légère
    autour de DIV#page */

#page {
    /*--margin:<top< <right> <bottom>--margin:80px auto 80px auto;*/
    margin: 80px auto;

    /*---border-radius permer de rajouter un arrondu à son élément--*/
    border-radius: 5px;

    /*J'applique une ombre aurour de ma page --*/
    /*--offset-x|offset-y|blur-radius|color--*/
    box-shadow: 10px 5px 5px rgba(24, 22, 22, 0.781);

    /*--J'applique une marge interne ed 5PX autour de ma page*/
    padding:5px;

    /*--overflow avec la caleur hidden,va supprimer l'affichage de ts les éléments qui dépassent de la
    div page--*/
    overflow: hidden;
    background-color:white;
    
}

.contenu h1 {
       /*--Aligner mon titre au milieu--*/
       text-align: center;

       /*--Je ne souhaite que le titre soit en gras--*/
       font-weight:normal;
       
       /*--solid:Ligne par défaut,dotted:Petits-Points,
       dashed:des traits d'union
       border-bottom: 1px dashed #000;--*/
       background-color:#bd2c0b;
       color: white;
}

.BandeauDuHaut {
    width: 100%;
    height: 360px;
    background: url(../image/bandeau.jpeg)no-repeat;
    background-size:cover;
    background-position-y:0px;
    
}

/*--
    CSS pr illustration et article
    --*/

.contenu {
    /*--Dimension et positionnement--*/
    width: 100%;
    height:auto;
    float: left;
    background-color: white;
    /*--Décoration--*/
}

.illustration {
 /*--Dimension et positionnement--*/
    width: 304px;
    height:auto ;
    float: left;
    position: relative;
 /*--Décoration--*/
}

.illustration img {
    max-width: 100%;
}

.loupe{
    position: absolute;
    width: 30px;
    right: 10px;
    bottom:10px;
}

.article {
 /*--Dimension et positionnement--*/
    width: 480px;
    height: auto;
    float: left;
/*--decoration--*/
    margin: 0 0 0 10px;
    font-family: Arial, Helvetica, sans-serif;
}


.article p {
     padding: 0 15px 0 15px;
}

.footer {
     width:100%;
     height:auto;
     float: left;
     font-family: Arial, Helvetica, sans-serif;
     background-color: rgb(207, 202, 202)

}

.footer h1, .footer p{
    font-weight:normal;
    text-align: center;

}

.gmap {
     width:320px;
     height: auto;
     float: left;
      
}

.newsletter {
     width:250px;
     height:auto; 
     float:left;
     padding:0 30px 30px 30px; 

}

.contact {
     width:250px;
     height:auto;
     float:left;
     padding:0 10px 0 10px;
}

.contact a {
      text-decoration:none;
      color: black;
}

/*.contact h3 {}
.contact address{}
.contact address strong{}
.contact a{}
.contact address a:hover{}
*/

address {
    text-align:center;
} 

address a:hover {
    transition-duration:1s;
    color:white;   
}

    /*--style de mon pied de page
    .footer {
    --dimension et positionnement--
    width:100%
    --Une hauteur de 210px--
    height: 210px;
    --positionnement--
    float:left;
    --decoration--*/
    /*Ici je souhaite que mes 3 blocks soient  positionnés,les uns à cotés des autres
    google map
    .gmap{
        --dimensions et positionnement--
        width:calc(100%/3)-10px);
        float:left;
        --decoration--*/
    
    /*--
    NEWSLETTER
    --*/
    /*newsletter{
        dimension et positionnement--
        width:calc(100%/3)
        float:left;
       --decoration--*/
       /*contact
       width:calc(100%/3)-10px);
       float:left;
       margin :left 10px;
       */
    .newsletter input[type=submit] {
         width:100%;
         height:35px;
         border:0;
         background:#ffc648;
         font-size: 15px;
         font-weight: bold;
         cursor:pointer;
    }

    .newsletter fieldset {
        font-family:'roboto Condensed',sans-serif;
        border-radius: 8px;
        border:2px solid rgb(7, 7, 7);
        color: rgb(5, 5, 5);
        height:180px;
    }
    .newsletter input {
          width:91%;
          height:25px;
          margin-bottom:5px;
          padding:5px 10px;
    }
