@import url('https://fonts.googleapis.com/css?family=Boogaloo');

a, h1 , h3 {
    font-family: 'Boogaloo', cursive;
}


#accroche p {
   font-size:30px;
   color: rgb(228, 74, 112);

}

body {
    background-image:url(../image/background.jpg);
    background-size:cover; 
    font-family: 'Boogaloo', cursive;

}
.page {
    width:100%;
    max-width:1000px ;
    background-color:white;
    margin:0 auto;
}

 

a {
    text-decoration:none;
    color: rgb(228, 74, 112);
}

.topheader  {
    float:left;
    width: 100%;
    height: 30px;
}

.topheader p {
    text-align: right;
    margin: 0;
    line-height: 28px;
    margin: 0px 10px 00;
}


header {
    width: 100%;
    height: 50px;
    background: white;
    float: left;

}
.logo {
      width:25%;
      height:auto;
      float: left;
}

.logo img{
    height:50px;
}


             /* MENU DU HEADER */
nav {
    width:500px;
    float: right;

}
nav ul li{
    color:rgb(228, 74, 112);
    display: inline-block;
    text-align: right;
    margin: 0 40px;
}

#projecteur {
     width:100% ;
     height:auto ;
     float: left;
}

#projecteur {
     width:100%;
     height: 300px;
     background-image: url(../image/maxresdefault.jpg);
     background-size: cover;
     float: left;
     background-position-y: -40px;

}


.partenaire  {
    width:100%;
    height: auto;
    float:left;
    /* margin-top:-4px;  */
    
}

.partenaire h2 {
    text-align: center;
    font-weight: normal;
    padding-bottom:20 px; 
    color:rgb(204, 57, 108);

}

.partenaire ul{
    margin:0;
    padding:0;
    width: 75%;
    margin-left: 125px;
}

.partenaire ul li {
    width:20%;
    display:inline-block; 

}

.partenaire ul li img {
     max-width:100% ;
     /* width:50%; */
     height: 100px;
     box-sizing: border-box;
     margin:10px;
     float: left;

}





section {
    width:100%;
    height:auto ;
    float: left;
    background-color:white ;
    padding-right:15px;  
}

section aside {
    width:50%;
    float: left;
    height:auto ;
}

section aside img {
     width:100% ;
     max-width:100% ;
     padding: 1% 5% 0 5%;
     box-sizing: border-box;

}
section article{
    padding-top: 30px;
}
section article p {
     font-family: 'Boogaloo', cursive;
     font-size: 20px;
     color: black;
     text-align:center ;

     
}

section article h3 {

     text-align:center;
     font-weight:normal; 
}



footer {
    width:100%;
    height:auto;
    float: left;
    font-family: 'Boogaloo', cursive;
    background-color: ;rgb(194, 41, 99);

}

footer h1, .footer p{
   font-weight:normal;
   text-align: center;

}

.gmap {
    width:calc(100%/3);
    height: auto;
    float: left;
    box-sizing: border-box;
    margin-top : 20px; 
}

.newsletter {
    width:calc(100%/3);
    height:auto; 
    float:left;
    padding:0 30px 30px 30px; 
    box-sizing:border-box ;
    color: rgb(228, 74, 112);
}

.contact {
    width:calc(100%/3);
    height:auto;
    float:left;
    padding:0 10px 0 10px;
    box-sizing: border-box; 
    color: rgb(228, 74, 112); 
}

.contact a {
     text-decoration:none;
     color: rgb(228, 74, 112);
}
address {
    text-align:center;
} 

address a:hover {
    transition-duration:1s;
    color:white;   
}
.newsletter input[type=submit] {
    width:100%;
    height:35px;
    border:0;
    background: rgb(228, 74, 112);
    font-size: 15px;
    font-weight: bold;
    cursor:pointer;
}

.newsletter fieldset {
   font-family: 'Boogaloo', cursive;
   border-radius: 8px;
   border:2px solid rgb(7, 7, 7);
   color: rgb(5, 5, 5);
   height:180px;
}
.newsletter input {
     width:91%;
     height:25px;
     margin-bottom:5px;
     padding:5px 10px;
}