@import url('https://fonts.googleapis.com/css?family=Roboto');
a, h1 , h3 {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image:url(../image/background.jpg);
    background-size:cover; 

}
.page {width:100%;max-width:1000px ;
    background-color:white;
    margin:0 auto;
    
}

a {
    text-decoration:none;
    color: black; 
}

.topheader{
    float:right ;
}

header img {
      border:2px solid black;
      width:400px;

}

nav {
    width:500px;
}
nav ul li{
    color: red;
    display: inline-block;
    float: right;
}





.partenaire img {
    width:140px;
    float:left;
}