@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
body{
    background: url(../image/fond.jpg)no-repeat;
    background-size: cover;

}

main{
    /*--Ma page fera 1300px de large--*/
    max-width:1300px ;
    width: 100%;
    /*--Sa hauteur s'adaptera en fonction du contenu--*/
    height: auto;
    /*--elle sera centrée au milieu de la page --*/
    margin:0 auto;
}
.mt-40{
margin-top: 40px;

}

main > p{
    font-family: arial;
    color:white;
    font-size:13px;
    text-align: center;
}

main > p span {
    text-decoration:underline; 
}



         /*-- section pour mon header--*/

header { 
         /*--dimensions et positionnement--*/
   width:100%;
   height:50px ;
   float: left;

         /*--decotation--*/
   background: -webkit-linear-gradient(-90deg, #ffffff 0%, #dddddd 100%);
   background: -moz-linear-gradient(-90deg, #ffffff 0%, #dddddd 100%);
   background: -o-linear-gradient(-90deg, #ffffff 0%, #dddddd 100%);
   background: -ms-linear-gradient(-90deg, #ffffff 0%, #dddddd 100%);
   background: linear-gradient(180deg, #ffffff 0%, #dddddd 100%);
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.65);   
}

        /*--section  traduction--*/
header > div {
   width:25%;
   height:19px ;
   float: left; 
   margin:15px 0 0 30px;   
}

header > div> p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color:black;
    text-transform: uppercase;
    float: left;
    margin:4px 5px 0 0;
}


      /*--drapaux en fcs--*/
header > div >a:nth-child(2){
    display:block;
    width:28px;
    height:19px ;
    float: left ;
    text-indent: -5000px;
    background:url(../image/drapeaux.png) no-repeat;
    background-position:-71px 4px;
    transition: 0.1s ease-in-out;
} 


      
       
header> div> a:nth-child(2):hover,
header> div > a:nth-child(3):hover{
       background-position-y: 0px;


}
          /*drapaux en en--*/
          header > div >a:nth-child(3){
            display:block;
            width:28px;
            height:19px ;
            float: left ;
            text-indent: -5000px;
            background:url(../image/drapeaux.png) no-repeat;
            background-position:-107px 4px;
            transition: 0.1s ease-in-out;
            margin-left:5px; 
        } 

       /*--section navigation--*/
header > nav{
   width:auto;
   height:auto ; 
   float: right;
   margin-right: 174px;
}

header >nav ul {
    margin:0;
    padding:0;
}

header>nav ul li{
   display: inline-block;
   margin:0 10px;
}

header>nav ul li a{
/* Style intégré */
   font-family: "Roboto Condensed",sans serif;
   color:  #202020;
   font-size: 16px;/* Approximation causée par une substitution de police */
   text-decoration: none;
   line-height: 48px;
}


header>nav ul li a:hover{
    text-decoration:underline; 
}


header>nav ul li.current a{
    color:#3060a7;
    text-decoration:underline; 
}

header > nav li:nth-child(3) a {
    color: #fe3224;
}
/*--ce que j'ai fais--
section {
    
   width:100% ;
   height:auto ;

}



section footer {
    background-color:  #fe3224;
    width: 1300px;
    height: 50px;
   
}

#fleur {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top : -5px;
    
}
/*

            /*--projecteur--*/
.projecteur{
    width:100%;
    height:750px;
    float: left;
    overflow:hidden;
}



         /*--commencer mon séjour--*/
 .bandeaurouge{
     background-color:#fe3224;
     width:1300px;
     height:50px;
     float:left; 
     text-align:center;}

.bandeaurouge img{
     margin-top: -16px;

}
.composersejour {
width:100%;
height:120px ; 
float: left;
border-bottom-left-radius: 10px;

background: -webkit-radial-gradient(circle farthest-side at 50%, #ffffff 0%, #febeb9 100%);
background: -moz-radial-gradient(circle farthest-side at 50%, #ffffff 0%, #febeb9 100%);
background: -o-radial-gradient(circle farthest-side at 50%, #ffffff 0%, #febeb9 100%);
background: -ms-radial-gradient(circle farthest-side at 50%, #ffffff 0%, #febeb9 100%);
background: radial-gradient(circle farthest-side at 50%, #ffffff 0%, #febeb9 100%);
width: 1300px;
height: 121px;

}

.composersejour p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
    text-align:center; 
}

.composersejour p span {
   text-decoration: underline;
}

.composersejour p span.red{
    color: #fe3224;
    text-decoration: inherit;
}

/*--bouton sejour--*/
.btn-sejour{
    width:346px; 
    height:37px;
    margin:0 auto;

    position:relative;
}

.btn-sejour a{
    width: 346px;
    height: 37px;
    display:block;
    
    
    background: -webkit-linear-gradient(-90deg, #fe8e86 0%, #fe3224 100%);
    background: -moz-linear-gradient(-90deg, #fe8e86 0%, #fe3224 100%);
    background: -o-linear-gradient(-90deg, #fe8e86 0%, #fe3224 100%);
    background: -ms-linear-gradient(-90deg, #fe8e86 0%, #fe3224 100%);
    background: linear-gradient(180deg, #fe8e86 0%, #fe3224 100%);
    
    border-top-left-radius:10px;
    border-bottom-right-radius:10px;  

    font-family :'Roboto Condensed', sans-serif;
    font-size:13px;
    color:#fff;
    text-transform:uppercase;
    text-decoration:none;
    text-align:center;
    line-height:37px; 
    position: relative;
}

.cursor-main{
    position:absolute; 
    right: 0px;
    bottom:-20px;

    visibility:hidden;
    opacity:0;
    transition:0.1s ease-in-out;   
}

.btn-sejour:hover .cursor-main {
     visibility: visible;
     opacity:1 ;
     bottom: -8px;
     transform: rotate(-15deg);
}

.btn-sejour a::before{
    width: 147px;
    height:36px;
    background:url(../image/flecheg.png); 
    content:"";
    position: absolute;
    top:0px;
    left:-170px;
}   


.btn-sejour a::after{
    width: 147px;
    height:36px;
    transform: rotate(180deg);
    background:url(../image/flecheg.png); 
    content:"";
    position: absolute;
    top:0px;
    right:-170px;
}   

